@media (max-width: 1000px)
    .container
        width: 100%
        padding: 0 20px

@media (max-width: 800px)
    .prev
        .exp
            width: 200px
            .prev_icons_title
                width: 200px
            .prev_icons_text
                width: 200px


// @media (max-width: 640px)        