.catalog
    min-height: 500px
    padding: 50px 0 103px 0
    h2 
        text-align: center
        color: #0d0d0d
        font-size: 30px
        font-weight: 400
        text-transform: uppercase
        margin: 0
    .catalog_list
        display: flex
        justify-content: center
        margin: 0
        li
            border: 1px solid
            width: 220px
            line-height: 48px
            text-align: center
            list-style: none
            font-size: 18px
            font-weight: 400
            text-transform: uppercase
            transform: skewX(25deg)
            margin: 0 5px
            cursor: pointer
            transform: 0.5 all
            &:hover
                box-shadow: 3px 3px 20px red
                border: none
            div
                transform: skewX(-25deg)
        .active_tab
            background-color: #c70101
            color: #ffffff
            border: none
    .catalog_cards_wrap
        display: flex
        justify-content: space-between
        flex-wrap: wrap

                
    .cards
        margin-top: 20px
        padding: 20px
        width: 300px
        min-height: 440px 
        border: 1px solid #e8e8e8
        text-align: center 
        overflow: hidden
        &_wrap
            display: flex
            width: calc(200% + 40px)

            &_top
                transform: translateX(calc(-100% - 20px))
                margin-right: 20px
                width: 50%
                &_img
                    height: 180px
                    img
                        display: block
                        margin: 0 auto
                        height: 180px
                        width: auto
                &_title
                    margin-top: 20px
                    color: #0d0d0d
                    font-size: 16px
                    font-weight: 700
                    text-transform: uppercase   
                &_desr
                    margin-top: 16px
                    color: #0d0d0d
                    font-size: 14px
                    font-weight: 400   
            .cards_active_top
                transform: translateX(0%)   

            &_back
                position: relative
                width: 50%
                margin-left: 20px
                transform: translateX(0%)
                ul  
                    position: relative
                    padding: 0
                    li
                        padding-left: 10px
                        position: relative
                        margin-bottom: 18px
                        list-style-type: none
                        color: #555555
                        font-size: 14px
                        font-weight: 300
                        text-align: left
                    li::before
                        content: ''
                        position: absolute
                        width: 5px
                        height: 5px
                        background-color: red
                        left: -5px
                        top: 7px
                button
                    position: absolute
                    color: #c70101
                    font-size: 14px
                    font-weight: 500
                    text-decoration: underline  
                    bottom: 0px 
                    right: 50%   
                    transform: translateX(50%)
                    border: none
                    background-color: #ffffff
            .cards_active_back
                transform: translateX(calc(-100% - 40px))        
   

        &_more
            margin-top: 17px
            color: #c70101
            font-size: 14px
            font-weight: 400
            text-decoration: underline
            border: none
            background-color: #ffffff
        hr
            margin-top: 30px    
        &_footer
            margin-top: 17px
            display: flex
            justify-content: space-around
            &_price_old
                color: #555555
                font-size: 14px
                font-weight: 400
                text-decoration: line-through
            &_price_new   
                color: #050505
                font-size: 20px
                font-weight: 400 
            button
                +red_btn    
                width: 131px
                height: 40px                
                margin-left: 0px    






